.icon {
  width: 50%;
  margin-top: 15%;
}

.logo {
  width: 100%;
  margin-top: 5%;
}

.buttonLogo {
  border: 0;
  outline: 0;
  background-color: transparent;
}

.mainTitle {
  margin-top: 10%;
}

.intro {
  width: 100%;
  margin-top: 10%;
  font-size: 0.85em;
  color: gray;
}

.searchBar {
  position: relative;
  width: 85%;
  height: 2.8em;
  margin-top: 15%;
  padding-left: 1.5em;
  background-color: transparent;
  color: gray;
  font-size: 0.9em;
  text-align: left;
  border-radius: 1.250em;
  border: 0;
  box-shadow: 0em 0em 0.9em lightgray;
}

.bsSearch {
  position: absolute;
  right: 0.938em;
  bottom: 0.875em;
}

.searchDiv {
  position: relative;
}

.searchH2 {
  margin-left: 1em;
  margin-top: 1.875em;
  font-size: 1.2em;
  font-weight: 600;
}

.searchH3 {
  margin-left: 1.1em;
  margin-top: 0.938em;
  font-weight: 600;
}

.searchEx {
  margin-left: 1.8em;
  margin-top: 0.938em;
  font-size: 0.9em;
  font-weight: 600;
}

.menuBox {
  clear: both;
  width: 100%;
  text-align: center;
  padding: 1.125em;
  border-top: 0.113em solid lightgray;
  font-weight: 600;
}

.searchBox {
  padding: 0;
  margin: 0.625em;
  height: 23.750em;
  overflow: auto;
  border: 0.063em solid lightgray;
  border-collapse: collapse;
}

.searchBlock {
  border-top: 0.063em solid #C0C0C0;
  border-bottom: 0.063em solid #C0C0C0;
  border-collapse: collapse;
  padding: 0.938em 0;
  padding-left: 0.938em;
  padding-right: 0.938em;
  margin-top: -0.063em;
  font-size: 0.75em;
  font-weight: 500;
  line-height: 180%;
}
.clicked {
  border-top: 0.063em solid #C0C0C0;
  border-collapse: collapse;
  padding: 0.938em 0;
  padding-left: 0.938em;
  padding-right: 0.938em;
  margin-top: -0.063em;
  font-size: 0.75em;
  font-weight: 500;
  line-height: 180%;
  background-color: #ECECEC;
}

.helpDiv {
  color: #404040;
  font-size: 0.75em;
  font-weight: 600;
  text-align: center;
  text-decoration: underline;
  text-underline-position: under left;
}

.rentalQuestion {
  font-size: 1.75em;
  font-weight: 600;
  text-align: left;
  margin-left: 1.3em;
}

.rentalType {
  width: 85%;
  height: 2.8em;
  margin: 0.7em;
  padding-left: 0.938em;
  background-color: transparent;
  font-size: 0.9em;
  font-weight: 600;
  text-align: center;
  border-radius: 1.25em;
  border: 0;
  box-shadow: 0em 0em 0.625em lightgray;
}

.clickedRentalType {
  width: 85%;
  height: 2.8em;
  margin: 0.7em;
  padding-left: 0.938em;
  background-color: transparent;
  font-size: 0.9em;
  font-weight: 600;
  text-align: center;
  border-radius: 1.25em;
  border: 0;
  box-shadow: 0em 0em 0.625em lightgray;
  background-color: #1381ff;
  color: white;
}

.inputGuarantee {
  position: relative;
  width: 85%;
  height: 2.8em;
  margin-top: 10.938em;
  padding-left: 0.938em;
  padding-right: 3.125em;
  background-color: transparent;
  color: black;
  font-size: 0.9em;
  font-weight: 500;
  text-align: left;
  border-radius: 1.25em;
  border: 0;
  box-shadow: 0em 0em 0.625em lightgray;
}

.tips {
  font-size: 0.625em;
  -webkit-transform: scale(0.95);
  font-weight: 500;
  color: black;
  text-align: center;
  margin-left: -10%;
  margin-right: -10%;
}

.subTitleText {
  font-size: 1.2em;
  font-weight: 700;
}

.commonText {
  font-size: 0.8em;
  font-weight: 600;
  margin-bottom: 2em;
}

.box {
  width: 82%;
  height: 24.063em;
  margin: 0 auto;
  padding-top: 2.5em;
  padding-left: 0.8em;
  padding-right: 2em;
  box-shadow: 0em 0em 0.438em lightgray;
  border-radius: 0.938em;
  text-align: left;
  background-color: white;
}

.submitButton {
  border: none;
  background-color: #D1D1D1;
  color: white;
  border-radius: 2.813em;
  font-weight: 600;
}

.reportTabSafe {
  padding: 0;
}
.reportTabCaution {
  padding: 0;
}
.reportTabDanger {
  padding: 0;
}
.reportTabFree {
  padding: 0;
}

.reportTabSafe > li {
  display: inline-block;
  text-align: center;
  width: 9.750em;
  border-bottom: solid #BDBDBD;
  color: #BDBDBD;
  font-weight: 600;
}
.reportTabCaution > li {
  display: inline-block;
  text-align: center;
  width: 9.750em;
  border-bottom: solid #BDBDBD;
  color: #BDBDBD;
  font-weight: 600;
}
.reportTabDanger > li {
  display: inline-block;
  text-align: center;
  width: 9.750em;
  border-bottom: solid #BDBDBD;
  color: #BDBDBD;
  font-weight: 600;
}
.reportTabFree > li {
  display: inline-block;
  text-align: center;
  width: 9.750em;
  border-bottom: solid #BDBDBD;
  color: #BDBDBD;
  font-weight: 600;
}

.reportTabSafe .active {
  color: #5087FF;
  border-bottom: solid #5087FF;
}
.reportTabCaution .active {
  color: #F6953C;
  border-bottom: solid #F6953C;
}
.reportTabDanger .active {
  color: #FF5A56;
  border-bottom: solid #FF5A56;
}
.reportTabFree .active {
  color: #5087FF;
  border-bottom: solid #5087FF;
}

.titleSafe {
  color: #5087FF;
  font-weight: 700;
  font-size: 1.7em;
}
.titleCaution {
  color: #F6953C;
  font-weight: 700;
  font-size: 1.7em;
}
.titleDanger {
  color: #FF5A56;
  font-weight: 700;
  font-size: 1.7em;
}
.titleFree {
  color: #5087FF;
  font-weight: 700;
  font-size: 1.7em;
}

.summaryBox {
  border-radius: 1.25em;
  box-shadow: 0em 0.25em 1em 0.063em rgba(0, 0, 0, 0.1);
  width: 19.438em;
  margin: 0 auto;
  padding-top: 1.375em;
  padding-bottom: 1.375em;
  background-color: white;
  margin-bottom: 2.188em;
}
.summaryTitle {
  font-size: 1.159em;
  font-weight: 700;
  text-align: left;
  padding-left: 1.375em;
}
.summaryBang {
  float: left;
  margin-left: 0.813em;
  margin-right: 0.813em;
}
.summaryDiv {
  font-size: 0.938em;
  font-weight: 700;
  text-align: left;
}
.summarySpan {
  color: #F98C84;
  font-size: 0.719em;
  font-weight: 600;
  text-align: left;
}
.summaryDetails {
  border-radius: 1.25em;
  box-shadow: 0em 0.25em 1em 0.063em rgba(0, 0, 0, 0.1);
  width: 13.313em;
  height: 2.563em;
  margin: 0 auto;
  font-size: 0.938em;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.summaryMents {
  color: #767676;
  font-size: 0.625em;
  font-weight: 500;
  text-align: center;
  margin-left: 1.781em;
  margin-right: 1.781em;
  height: 3.75em;
  word-break: keep-all;
}
.summaryBlock {
  height: 0.625em;
}
.summaryNext {
  margin-left: 1.25em;
  padding-bottom: 0.125em;
}
.summaryText {
  font-size: 0.875em;
  font-weight: 500;
  text-align: left;
  margin-left: 1.8em;
  margin-right: 1.5em;
}
.summarySubTitle {
  font-size: 0.75em;
  font-weight: 500;
  color: #BDBDBD;
  text-align: left;
  margin-left: 1.063em;
}

.detailBox {
  border-radius: 1.25em;
  box-shadow: 0em 0.25em 1em 0.063em rgba(0, 0, 0, 0.1);
  width: 21.438em;
  margin: 0 auto;
  padding-top: 1.375em;
  padding-bottom: 1.375em;
  background-color: white;
  margin-bottom: 2.188em;
}

.detailBox2 {
  border-radius: 1.25em;
  box-shadow: 0em 0.25em 1em 0.063em rgba(0, 0, 0, 0.1);
  width: 21.438em;
  margin: 0 auto;
  padding-top: 1.375em;
  padding-bottom: 1.375em;
  background-color: white;
  margin-bottom: 2.188em;
}

.detailTitle {
  font-size: 1.125em;
  font-weight: 700;
  margin-top: 1.875em;
}
.detailIcon {
  margin-top: 2.5em;
}
.detailSubTitleBox {
  background-color: #FFF8F8;
  border: 0.125em solid #FFD7D6;
  border-radius: 1.250em;
  width:20em;
  height: 2.313em;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.938em;
  font-weight: 700;
  color: #3E3E3E;
  margin-top: 2.188em;
  margin-bottom: 1.563em;
}
.detailSubTitleBox2 {
  background-color: #FFF8F8;
  border: 0.125em solid #FFD7D6;
  border-radius: 1.250em;
  width: 19.063em;
  height: 2.313em;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.938em;
  font-weight: 700;
  color: #3E3E3E;
  margin-top: 0.9em;
  margin-bottom: 1.563em;
}
.detailText {
  width: 19.8em;
  line-height: 1.500em;
  font-size: 0.875em;
  color: #3E3E3E;
  font-weight: 500;
  text-align: justify;
  margin: 0 auto;
}
.detailTextGray {
  width: 18.625em;
  line-height: 1.500em;
  font-size: 0.875em;
  color: #767676;
  font-weight: 500;
  text-align: justify;
  margin: 0 auto;
}
.detailRiskCalculator {
  width: 18.688em;
  height: 5.313em;
  border: 0.125em solid rgba(170, 170, 170, 0.3);
  border-radius: 0.938em;
  padding-top: 0.875em;
  padding-bottom: 1.438em;
  margin: 0 auto;
  margin-top: 1.563em;
  margin-bottom: 1.563em;
}

.shareIcon1 {
  margin-left: 2em;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 1.563em;
}
.shareIcon2 {
  margin-left: 1em;
  margin-right: 2em;
  margin-top: 1em;
  margin-bottom: 1.563em;
}

.safeBackground {
  background: linear-gradient(white, rgba(223, 233, 255, 0.47));
  height: 100%;
  width: 100%;
  position: relative;
}
.cautionBackground {
  background: linear-gradient(white, rgba(255, 247, 233, 0.47));
  height: 100%;
  width: 100%;
  position: relative;
}
.dangerBackground {
  background: linear-gradient(white, rgba(255, 232, 232, 0.47));
  height: 100%;
  width: 100%;
  position: relative;
}

.safeBackgroundFull {
  background: rgba(223, 233, 255, 0.47);
  height: 100%;
  width: 100%;
  position: relative;
  margin-top: -2.188em;
}
.cautionBackgroundFull {
  background: rgba(255, 247, 233, 0.47);
  height: 100%;
  width: 100%;
  position: relative;
  margin-top: -2.188em;
}
.dangerBackgroundFull {
  background:rgba(255, 232, 232, 0.47);
  height: 100%;
  width: 100%;
  position: relative;
  margin-top: -2.188em;
}
